Makefile
*.o
aclocal.m4
autom4te.cache/
config.log
config.status
*.a
librtaudio.pc
*.so
*.so.*
rtaudio-config
tests/Makefile
tests/Release/
tests/audioprobe
tests/duplex
tests/playraw
tests/playsaw
tests/record
tests/testall
tests/teststops
